<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>

<body>
    <header>
        <h1>
            Evaluate a news article with Natural Language Processing
        </h1>
    </header>

    <main>
        <section>
            <form>
                <input id="URL" type="text" name="input" value="" placeholder="Type URL here..">
                <input type="submit" name="" value="submit" onclick="return Client.handleForm(event)">
            </form>
            <section>

                <section class="results__section">
                    <h1>Form Results:</h1>
                    <div id="loader"></div>
                    <div id="results"></div>
                </section>
    </main>

    <footer>
        <p>Made with &#10084;&#65039; By <a href="https://github.com/Abdullah-albagshi">Abdullah Albagshi</a></p>
    </footer>

</body>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</html>